---
# Default home page with boxes providing collection stats
layout: page
---
<div class="row">

  <div class="col-md-8">

    {% include index/description.html %}
 <div class="card mb-3">
  <div class="card-header h5">Sample Items</div>
  <div class="card-body">
    <div class="row">
      {% assign samples = site.data.metadata | where: "id", "mg101_b6_psychiana_photographs_002.jpg" | push: (site.data.metadata | where: "id", "mg101_b6_psychiana_photographs_019.jpg")[0] | push: (site.data.metadata | where: "id", "mg101_b6_psychiana_photographs_015.jpg")[0] %}
      {% for item in samples %}
        <div class="col-md-4 mb-3">
          {% include item-infographic.html item=item %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>